$nav-background-color: linear-gradient(to bottom, #46A6BC 0%, #41C997 100%);
$header-bar-background-color: linear-gradient(to right, #46A6BC 0%, #41C997 100%);
$nav-color: white; //rgba(0, 0, 0, 0.87);
$nav-border-color: white; //black;
$content-background-color: #e7e7e7;

$reddit-color: #FF4500;
$facebook-color: #3b5998;
$twitter-color: #4099FF;

$article-max-width: 750px;

h1, h2, h3, h4, h5, h6, .filter-button, .article-date {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Lora', serif;
  text-rendering: optimizelegibility;
}

pre {
  text-rendering: auto;
}

h2 {
  margin:0;
}

strong {
  font-weight: 600;
}

md-icon {
  color: inherit;
}

.main-view {
  background-color: $content-background-color;
}

#side-nav-close-button {
  width: 280px;
  text-align: right;
  margin-bottom: 20px;
}

a {
  color: #46A6BC;
  text-decoration: none;
  font-weight: bold;
}

figcaption {
  color: gray;
}

.featured-image {
  max-width: 1000px;
}

#side-nav-top-content {
  overflow-x: hidden;
}

#side-nav-close-button md-icon, .menu-icon {
  width: 30px;
  height: 30px;
}

.container {
  height: 100%;
  width: 100%;
}

.header-bar {
  color: $nav-color;
  background: $header-bar-background-color;
  border-bottom: 1px solid gray;
}

.content-background {
  background-color: $content-background-color;
  padding: 0 8px;
}

.entry-listing-card {
    margin: 16px 8px 16px 8px;
}

.non-decorated-link {
  text-decoration: none;
  color: inherit;
}

h1.article-headline {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

h3.md-display-1 {
  font-weight: 600;
  margin: 0 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 1.4;
}

p {
  letter-spacing: 0.020em;
  line-height: 29px;
  font-size: 16px;
  word-break: break-word;
}

code[class*="language-"], pre[class*="language-"] {
  font-size: 14px;
}

#share-icon-box {
  overflow: hidden;
}

.site-title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  word-spacing: -0.15em;
  font-weight: 300;
}

.site-title span {
  font-weight: 800;
}

.filter-button {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: left;
  padding: 20px 0 20px 40px;
  font-size: 22px;
  letter-spacing: 3px;
}

.last-button {
  border-bottom: 1px solid $nav-border-color;
  padding-bottom: 25px;
}

#left-nav {
  background: $nav-background-color;
  color: $nav-color;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-property: all;
}

md-sidenav#left-nav.md-locked-open {
  overflow: hidden;
  width: 256px;
  min-width: 256px;
  max-width: 256px;
}

#left-nav md-content {
  background-color: transparent;
  color: $nav-color;
}

.view-animation {
  width: 100%;
}

.view-animation.ng-enter {
  transition: 0.4s linear all;
  position: absolute;
  height: 100%;
  opacity:0;
}

.view-animation.ng-enter.ng-enter-active {
  position: absolute;
  height: 100%;
  opacity:1;
}

.view-animation.ng-leave {
  position: absolute;
  height: 100%;
  transition: 0.4s linear all;
  opacity:1;
}

.view-animation.ng-leave.ng-leave-active {
  position: absolute;
  height: 100%;
  opacity:0;
}

@media (min-width: 960px) {
  .view-animation.ng-leave, .view-animation.ng-enter, .view-animation.ng-enter.ng-enter-active, .view-animation.ng-leave.ng-leave-active {
    width: calc(100% - 256px);
  }
}

.facebook-link {
  color: white;
}

.twitter-link {
  color: white;
}

.reddit-link {
  color: white;
}

.side-nav-bottom {
  perspective: 1000px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
}

.social-media-link {
  display: block;
  margin: auto;
}

.social-media-icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: block;
  color: white;
}

.contact-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.contact-info a {
  color: white;
}

@media (min-width: 2000px) {
  [layout="row"] > [flex-gt-xl="25"] {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 1080px) {
  .entry-listing-card {
    margin: 8px 8px 16px 8px;
  }
}

@media (max-width: 600px) {
  body {
    text-rendering: auto;
  }

  .entry-listing-card {
    margin: 8px 0 25px 0;
  }

  p {
    letter-spacing: 0.020em;
    line-height: 28px;
  }

  .article-card-content {
    padding: 0;
  }

  .content-background {
    background-color: $content-background-color;
    padding: 0 0;
  }
}

@media (max-width: 960px) {
  .site-title {
    margin-top: 0;
  }
}

//Article page
.article-card {
  box-shadow: none;
}

.article-card {
  h2, h3, h4, h5, p, figure, .article-date {
    max-width: $article-max-width;
  }
  h1 {
    max-width: 1000px;
  }
}

.article-date {
  margin-top: 5px;
  color: gray;
}

#article-content h3 {
  letter-spacing: 1px;
  margin: 40px 0 0 0;
}

#article-content {
  margin-top: 40px;
}

.article-summary p {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}
//End article styles

.entry-listing-card.ng-anchor-out {
  transform: scale(0.9);
  transition: 0.4s linear all;
}

.entry-listing-card.ng-anchor-in {
  transform: scale(1.03);
  transition: 0.4s linear all;
}

.header-wrapper.ng-anchor-out {
  transition: 0.4s linear all;
}

.header-wrapper.ng-anchor-in {
  transition: 0.4s linear all;
}

//Gallery
.gallery-item {
  margin-left: 0;
  margin-right: 0;
}

.attachment-large {
  width: 100%;
  height: 100%;
}
//End gallery

//Comment section
#disqus_thread {
  margin-top: 50px;
  max-width: $article-max-width;
}
//End comment section
