$nav-background-color: linear-gradient(to bottom, #46A6BC 0%, #41C997 100%);
$header-bar-background-color: linear-gradient(to right, #46A6BC 0%, #41C997 100%);
$nav-color: white; //rgba(0, 0, 0, 0.87);
$nav-border-color: white; //black;
$content-background-color: #e7e7e7;

$reddit-color: #FF4500;
$facebook-color: #3b5998;
$twitter-color: #4099FF;

$article-max-width: 750px;

h1, h2, h3, h4, h5, h6, .filter-button, .article-date {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Lora', serif;
  text-rendering: optimizelegibility;
}

pre {
  text-rendering: auto;
}

h2 {
  margin:0;
}

strong {
  font-weight: 600;
}

md-icon {
  color: inherit;
}

#side-nav-close-button {
  width: 280px;
  text-align: right;
  margin-bottom: 20px;
}

#side-nav-top-content {
  overflow-x: hidden;
}

#side-nav-close-button md-icon, .menu-icon {
  width: 30px;
  height: 30px;
}

.container {
  height: 100%;
  width: 100%;
}

.header-bar {
  color: $nav-color;
  background: $header-bar-background-color;
  border-bottom: 1px solid gray;
}

.content-background {
  background-color: $content-background-color;
}

.entry-listing-card {
//  box-shadow: none;
  margin-bottom: 16px;
//  margin-right: 16px;
//  margin-left: 16px;
}

.non-decorated-link {
  text-decoration: none;
  color: inherit;
}

h1.article-headline {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

h3.md-display-1 {
  font-weight: 600;
  margin: 0 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 21px;
  line-height: 1.4;
}

.card-style-tile {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
  cursor: pointer;
  //animation-name: slideup;
  //transform: translate(0, 2000px);
}

md-grid-list .card-style-tile md-grid-tile-header {
  height: initial;
//  background-color: white;
//  color: rgba(0,0,0,0.87);
}

md-grid-list .card-style-tile md-grid-tile-footer {
  height: initial;
  background-color: white;
  color: rgba(0,0,0,0.8);
  //background-color: rgba(0, 209, 94, 0.89);
  padding: 10px;
}

p {
  letter-spacing: 0.020em;
  line-height: 29px;
}

.selfie {
  position: absolute;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 100%;
  display: block;
  border: 3px solid $nav-border-color;
  background-image: url('../images/selfie.jpg');
  background-size: cover;
}

#selfie-box {
  overflow: hidden;
  height: 180px;
}

#share-icon-box {
  overflow: hidden;
}

.site-title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  word-spacing: -0.15em;
  font-weight: 300;
  /* color: gray; */
}

.site-title span {
  font-weight: 800;
}

.filter-button {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: left;
  padding: 20px 0 20px 40px;
  font-size: 22px;
  letter-spacing: 3px;
}

.last-button {
  border-bottom: 1px solid $nav-border-color;
  padding-bottom: 25px;
}

///* latin */
//@font-face {
//  font-family: 'Raleway';
//  font-style: normal;
//  font-weight: 300;
//  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
//  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
//}
///* latin */
//@font-face {
//  font-family: 'Raleway';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
//  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
//}
///* latin */
//@font-face {
//  font-family: 'Raleway';
//  font-style: normal;
//  font-weight: 800;
//  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(http://fonts.gstatic.com/s/raleway/v9/1ImRNPx4870-D9a1EBUdPAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
//  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
//}

#left-nav {
  background: $nav-background-color;
  color: $nav-color;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-property: all;
}

md-sidenav#left-nav.md-locked-open {
  overflow: hidden;
  width: 256px;
  min-width: 256px;
  max-width: 256px;
}

#left-nav md-content {
  background-color: transparent;
  color: $nav-color;
}

.view-animation {
  width: 100%;
}

.view-animation.ng-enter {
  transition: 0.4s linear all;
  position: absolute;
  height: 100%;
  opacity:0;
}

.view-animation.ng-enter.ng-enter-active {
  position: absolute;
  height: 100%;
  opacity:1;
}

.view-animation.ng-leave {
  position: absolute;
  height: 100%;
  transition: 0.4s linear all;
  opacity:1;
}

.view-animation.ng-leave.ng-leave-active {
  position: absolute;
  height: 100%;
  opacity:0;
}

@media (min-width: 960px) {
  .view-animation.ng-leave, .view-animation.ng-enter, .view-animation.ng-enter.ng-enter-active, .view-animation.ng-leave.ng-leave-active {
    width: calc(100% - 256px);
  }
}

.selfie.ng-anchor-out {
  margin-left: auto;
  margin-right: auto;
  color: white;
  transform: rotateY( 90deg );
  transition:0.3s linear all;
}

.selfie.ng-anchor-in {
  margin-left: auto;
  margin-right: auto;
  color: transparent;
  background-image: url('../images/selfie.jpg');
  background-size: cover;
  transition:0.3s linear all;
}

.facebook-link.ng-anchor-out {
  transform: rotateY( 90deg );
  transition:0.3s linear all;
}

.facebook-link.ng-anchor-in {
  background-image: url('../images/icons/facebook_white.svg');
  background-size: cover;
  color: white;
  transition:0.3s linear all;
}

.twitter-link.ng-anchor-out {
  position: absolute;
  left: 0;
  transform: rotateY( 90deg );
  transition:0.3s linear all;
}

.twitter-link.ng-anchor-in {
  position: absolute;
  left: 0;
  background-image: url('../images/icons/facebook_white.svg');
  background-size: cover;
  color: white;
  transition:0.3s linear all;
}

.reddit-link.ng-anchor-out {
  transform: rotateY( 90deg );
  transition:0.3s linear all;
}

.reddit-link.ng-anchor-in {
  background-image: url('../images/icons/facebook_white.svg');
  background-size: cover;
  color: white;
  transition:0.3s linear all;
}

.facebook-link {
  color: white;
}

.twitter-link {
  color: white;
}

.reddit-link {
  color: white;
}

.side-nav-bottom {
  perspective: 1000px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
}

.social-media-link {
  display: block;
  margin: auto;
}

.social-media-icon {
  width: 45px;
  height: 45px;
  padding: 5px;
  display: block;
  border-radius: 100%;
  color: white;
  backface-visibility: hidden;
}

.contact-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.contact-info a {
  color: white;
}

@media (min-width: 2000px) {
  [layout="row"] > [flex-gt-xl="25"] {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 600px) {
  body {
    text-rendering: auto;
  }

  .entry-listing-card {
    margin: 8px 0 25px 0;
  }

  p {
    letter-spacing: 0.020em;
    line-height: 28px;
    font-size: 15px;
  }

  .article-card-content {
    padding: 0;
  }
}

@media (max-width: 960px) {
  .site-title {
    margin-top: 0;
  }
}

//Article page
.article-card {
  box-shadow: none;
}

.article-card {
  h1, h2, h3, h4, h5, p, figure {
    max-width: $article-max-width;
  }
}

.article-date {
  margin-top: 5px;
  color: gray;
}

#article-content h3 {
  letter-spacing: 1px;
  margin: 40px 0 0 0;
}

#article-content {
  margin-top: 40px;
}

.article-summary p {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}
//End article styles

.entry-listing-card.ng-anchor-out {
  transform: scale(0.9);
  transition: 0.4s linear all;
}

.entry-listing-card.ng-anchor-in {
  transform: scale(1.03);
  transition: 0.4s linear all;
}

.header-wrapper.ng-anchor-out {
  transition: 0.4s linear all;
}

.header-wrapper.ng-anchor-in {
  transition: 0.4s linear all;
}

//Gallery
.gallery-item {
  margin-left: 0;
  margin-right: 0;
}

.attachment-large {
  width: 100%;
  height: 100%;
}
//End gallery

//Comment section
#disqus_thread {
  margin-top: 50px;
  max-width: $article-max-width;
}
//End comment section

.category-icon-wrapper {
  width: 100%;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 0;
  text-align: center;
}

.category-icon {
  color: white;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

md-card-content {
  position: relative;
}
