$nav-background-color: linear-gradient(to bottom, #46A6BC 0%, #41C997 100%);
$header-bar-background-color: linear-gradient(to right, #46A6BC 0%, #41C997 100%);
$nav-color: white; //rgba(0, 0, 0, 0.87);
$nav-border-color: white; //black;
$content-background-color: #e7e7e7;

$reddit-color: #FF4500;
$facebook-color: #3b5998;
$twitter-color: #4099FF;

$article-max-width: 750px;

h1, h2, h3, h4, h5, h6, .filter-button, .article-date {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Lora', serif;
  text-rendering: optimizelegibility;
}

pre {
  text-rendering: auto;
}

h2 {
  margin:0;
}

strong {
  font-weight: 600;
}

md-icon {
  color: inherit;
}

#main-view-wrapper {
  width: 100%;
}

.main-view {
  background-color: $content-background-color;
}

.one-column-data::first-child {
  margin-top: 0;
}

#side-nav-close-button {
  width: 280px;
  text-align: right;
  margin-bottom: 20px;
}

a {
  color: #46A6BC;
  text-decoration: none;
  font-weight: bold;
}

figcaption {
  color: gray;
}

.featured-image {
  max-width: 750px;
}

#side-nav-top-content {
  overflow-x: hidden;
}

#side-nav-close-button md-icon, .menu-icon {
  width: 30px;
  height: 30px;
}

.container {
  height: 100%;
  width: 100%;
}

.header-bar {
  color: $nav-color;
  background: $header-bar-background-color;
  border-bottom: 1px solid gray;
}

.content-background {
  background-color: $content-background-color;
  padding: 0 8px;
  max-width: 1600px;
  flex-shrink: 0;
}

.entry-listing-card {
    margin: 16px 8px 16px 8px;
}

.non-decorated-link {
  text-decoration: none;
  color: inherit;
}

.home-link {
  font-weight: normal;
}

h1.article-headline {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

h3.md-display-1 {
  font-weight: 600;
  margin: 0 0 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 1.4;
}

p {
  letter-spacing: 0.020em;
  line-height: 29px;
  font-size: 16px;
  word-break: break-word;
}

code[class*="language-"], pre[class*="language-"] {
  font-size: 14px;
}

// Loading spinner
#loading-spinner {
  position: absolute;
  top: 40%;
  width: 100%;
}

#loading-wrapper {
  width: 120px;
  background-color: rgba(0,0,0,0.1);
  height: 80px;
  padding-top: 40px;
  margin: 0 auto;
  border-radius: 10px;
}

.loader,
.loader:before,
.loader:after {
  background: $nav-background-color;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 0 auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #46A6BC;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #46A6BC;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #46A6BC;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #46A6BC;
    height: 5em;
  }
}
// End loading spinner

#share-icon-box {
  overflow: hidden;
}

.site-title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  word-spacing: -0.15em;
  font-weight: 300;
}

.site-title span {
  font-weight: 800;
}

.filter-button {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: left;
  padding: 20px 0 40px 40px;
  font-size: 22px;
  letter-spacing: 3px;
  display: block;
}

.last-button {
  border-bottom: 1px solid $nav-border-color;
  padding-bottom: 25px;
}

#left-nav {
  background: $nav-background-color;
  color: $nav-color;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-property: all;
}

md-sidenav#left-nav.md-locked-open {
  overflow: hidden;
  width: 256px;
  min-width: 256px;
  max-width: 256px;
}

#left-nav md-content {
  background-color: transparent;
  color: $nav-color;
}

.view-animation {
  width: 100%;
}

.view-animation.ng-enter {
  transition: 0.4s linear all;
  position: absolute;
  height: 100%;
  opacity:0;
}

.view-animation.ng-enter.ng-enter-active {
  position: absolute;
  height: 100%;
  opacity:1;
}

.view-animation.ng-leave {
  position: absolute;
  height: 100%;
  transition: 0.4s linear all;
  opacity:1;
}

.view-animation.ng-leave.ng-leave-active {
  position: absolute;
  height: 100%;
  opacity:0;
}

@media (min-width: 960px) {
  .view-animation.ng-leave, .view-animation.ng-enter, .view-animation.ng-enter.ng-enter-active, .view-animation.ng-leave.ng-leave-active {
    width: calc(100% - 256px);
  }

  #loading-spinner {
    margin-left: -128px;
  }

  #main-view-wrapper {
    width: calc(100% - 256px);
  }
}

.facebook-link {
  color: white;
}

.twitter-link {
  color: white;
}

.reddit-link {
  color: white;
}

.side-nav-bottom {
  perspective: 1000px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
}

.social-media-link {
  display: block;
  margin: auto;
}

.social-media-icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: block;
  color: white;
}

.contact-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.contact-info a {
  color: white;
}

@media (max-width: 1080px) {
  .entry-listing-card {
    margin: 8px 8px 16px 8px;
  }
}

@media (max-width: 600px) {
  body {
    text-rendering: auto;
  }

  .entry-listing-card {
    margin: 0 0 25px 0;
  }

  p {
    letter-spacing: 0.020em;
    line-height: 28px;
    padding: 16px;
  }

  .article-card-content {
    padding: 0;
  }

  .content-background {
    background-color: $content-background-color;
    padding: 0 0;
  }

  h1.article-headline {
    font-size: 35px;
    line-height: 50px;
    padding: 16px;
  }

  h2 {
    padding: 0 16px;
  }

  h3 {
    padding: 16px;
  }

  #main-listing-background {
    padding: 0;
  }

  md-card.article-card {
    padding: 0;
    margin: 0;
  }

  #disqus_thread {
    padding: 0 16px;
  }

  .detail-article-date {
    padding-left: 16px;
  }

  .article-summary p {
    padding: 0;
  }

  #article-content pre[class*="language-"] {
    border-radius: 0;
  }
}

@media (max-width: 960px) {
  .site-title-link {
    display: none;
  }
}

//Article page
.article-card {
  box-shadow: none;
}

.article-card {
  h2, h3, h4, h5, p, figure, .article-date {
    max-width: $article-max-width;
  }
  h1 {
    max-width: 750px;
  }
}

.article-date {
  margin-top: 5px;
  color: gray;
}

#article-content h3 {
  letter-spacing: 1px;
  margin: 40px 0 0 0;
}

#article-content {
  margin-top: 40px;
}

.article-summary p {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}
//End article styles

.entry-listing-card.ng-anchor-out {
  transform: scale(0.9);
  transition: 0.4s linear all;
}

.entry-listing-card.ng-anchor-in {
  transform: scale(1.03);
  transition: 0.4s linear all;
}

.header-wrapper.ng-anchor-out {
  transition: 0.4s linear all;
}

.header-wrapper.ng-anchor-in {
  transition: 0.4s linear all;
}

//Gallery
.gallery-item {
  margin-left: 0;
  margin-right: 0;
}

.attachment-large {
  width: 100%;
  height: 100%;
}
//End gallery

//Comment section
#disqus_thread {
  margin-top: 50px;
  max-width: $article-max-width;
}
//End comment section
