<md-toolbar class="header-bar" hide-gt-md>
    <div class="md-toolbar-tools">
        <div layout="row" flex="" class="fill-height">

            <a href="/" class="home-link"><h2 class="md-display-1 site-title">Rob<span>Louie</span></h2></a>
            <span flex></span>
            <div class="md-toolbar-item docs-tools" layout="row">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                    <md-icon class="menu-icon" md-svg-icon="images/icons/menu.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
</md-toolbar>
