<md-sidenav id="left-nav" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-content id="side-nav-top-content" layout-padding ng-controller="LeftCtrl">

        <md-button id="side-nav-close-button" hide-gt-md aria-label="Close" ng-click="close()">
            <md-icon md-svg-icon="images/icons/close.svg"></md-icon>
        </md-button>

        <a href="#/" class="non-decorated-link"><h2 class="md-display-1 site-title">Rob<span>Louie</span></h2></a>

        <a href="#/" class="non-decorated-link"><p class="filter-button">Home</p></a>
        <a href="#/code" class="non-decorated-link"><p class="filter-button">Coding</p></a>
        <p class="filter-button">Life</p>
        <p class="filter-button"></p>

    </md-content>

        <div id="share-icon-box" ng-if="postView" layout="row" layout-align="center" class="side-nav-bottom">
            <md-icon class="facebook-link social-media-icon" md-svg-src="images/icons/facebook.svg" aria-label="facebook"></md-icon>
            <md-icon class="reddit-link social-media-icon" md-svg-src="images/icons/reddit.svg" aria-label="reddit"></md-icon>
            <md-icon class="twitter-link social-media-icon" md-svg-src="images/icons/twitter.svg" aria-label="twitter"></md-icon>
        </div>

        <div id="selfie-box" ng-if="!postView" layout-align="center" class="side-nav-bottom">
            <div hide-md hide-sm class="selfie"></div>
            <div hide-md hide-sm class="selfie"></div>
            <div hide-md hide-sm class="selfie"></div>
            <div class="contact-info"><a href="mailto:rob.j.louie@gmail.com">rob.j.louie@gmail.com</a></div>
        </div>
</md-sidenav>