<md-sidenav id="left-nav" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-content layout-padding ng-controller="LeftCtrl">

        <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
        </md-button>

        <h2 class="md-display-1 site-title">Rob<span>Louie</span></h2>

        <p class="filter-button">Coding</p>
        <p class="filter-button">Life</p>
        <p class="filter-button"></p>

    </md-content>

    <!--<md-content layout="column" layout-padding>-->
        <div id="share-icon-box" layout="row" layout-align="center">
            <img ng-if="!postView" class="selfie" src="images/selfie.jpg" ng-animate-ref="linkA"/>

            <md-icon ng-if="postView" class="facebook-link social-media-icon" md-svg-src="images/icons/facebook.svg" aria-label="facebook" ng-animate-ref="linkA"></md-icon>
            <md-icon ng-if="postView" class="reddit-link social-media-icon" md-svg-src="images/icons/reddit.svg" aria-label="reddit"></md-icon>
            <md-icon ng-if="postView" class="twitter-link social-media-icon" md-svg-src="images/icons/twitter.svg" aria-label="twitter"></md-icon>
        </div>
    <!--</md-content>-->
</md-sidenav>