<md-sidenav id="left-nav" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-content id="side-nav-top-content" ng-controller="LeftCtrl">

        <md-button id="side-nav-close-button" hide-gt-md aria-label="Close" ng-click="close()">
            <md-icon md-svg-icon="images/icons/close.svg"></md-icon>
        </md-button>

        <a href="/" class="non-decorated-link site-title-link"><h2 class="md-display-1 site-title">Rob<span>Louie</span></h2></a>

        <a ng-click="close()" href="/" class="non-decorated-link filter-button">Home</a>
        <a ng-click="close()" href="/code" class="non-decorated-link filter-button">Coding</a>
        <a ng-click="close()" href="/life" class="non-decorated-link filter-button">Life</a>
        <!-- TODO: Add about section -->
        <!--<a href="#!/about" class="non-decorated-link"><p class="filter-button">About</p></a>-->

    </md-content>

        <div id="share-icon-box" layout="row" layout-align="center" class="side-nav-bottom">
            <a class="social-media-link" target="_blank" href="https://www.facebook.com/rob.louie">
                <md-icon class="facebook-link social-media-icon" md-svg-src="images/icons/facebook.svg" aria-label="facebook"></md-icon>
            </a>
            <a class="social-media-link" target="_blank" href="https://www.linkedin.com/in/roblouie">
                <md-icon class="linkedin-link social-media-icon" md-svg-src="images/icons/linkedin_white.svg" aria-label="linkedin"></md-icon>
            </a>
            <a class="social-media-link" target="_blank" href="https://www.twitter.com/rob_louie">
                <md-icon class="twitter-link social-media-icon" md-svg-src="images/icons/twitter.svg" aria-label="twitter"></md-icon>
            </a>
        </div>
</md-sidenav>
