<md-content id="main-listing-background" class="md-padding" flex layout-padding md-scroll-y>
    <md-card class="article-card" ng-animate-ref="article-card-{{entry.ID}}">
        <div>
          <img ng-if="entry.featured_image" ng-src="{{entry.featured_image.source}}" class="md-card-image featured-image" alt="image caption">
        </div>
        <md-card-content class="article-card-content">
            <h1 class="article-headline md-display-2">{{entry.title}}</h1>
            <div class="detail-article-date article-date">{{entry.date | date : 'longDate'}}</div>
            <div id="article-content" article-content html="entry.content"></div>
            <disqus-comments disqus-shortname="roblouie"
                        disqus-identifier="{{ entry.ID }}"
                        disqus-url="http://www.roblouie.com/article/{{entry.ID}}/{{entry.slug}}">
            </disqus-comments>
        </md-card-content>
    </md-card>
</md-content>
