    <span ng-animate-ref="fix-main"></span>
    <!--<md-content flex layout="column" class="content-background" style="padding: 10px; height: 100%;">-->
        <div layout="row" layout-wrap layout-fill class="content-background" style="padding:10px">
            <div ng-repeat="column in content" flex="flexSize">
                <md-card ng-repeat="entry in column" class="entry-listing-card" ng-animate-ref="listing-{{entry.ID}}">
                    <a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">
                        <img ng-if="entry.featured_image" ng-src="{{entry.featured_image.source}}" class="md-card-image" alt="image caption">
                    </a>
                    <md-card-content>
                        <a href="/#!/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">
                            <h3 class="md-display-1">{{entry.title}}</h3>
                        </a>
                        <div class="article-date">{{entry.date | date : 'longDate'}}</div>
                        <div ng-bind-html="entry.excerpt | rawHtml" class="article-summary"></div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    <!--</md-content>-->