<header-bar></header-bar>
<section layout="row" flex>

    <span ng-animate-ref="somethingelse"></span>
    <side-nav></side-nav>

    <md-content layout="column" class="content-background" style="padding: 10px;">

        <div layout="row" layout-wrap layout-fill class="content-background">

            <div ng-repeat="column in content" flex-gt-xl="25" flex-gt-lg="33" flex-gt-sm="50" flex="100">
                <md-card ng-repeat="entry in column" class="entry-listing-card" ng-animate-ref="article-card-{{entry.ID}}">
                    <a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">
                        <img ng-if="entry.featured_image" ng-src="{{entry.featured_image.source}}" class="md-card-image" alt="image caption">
                    </a>
                    <md-card-content>
                        <a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">
                            <h3 class="md-display-1">{{entry.title}}</h3>
                        </a>
                        <div class="article-date">{{entry.date | date : 'longDate'}}</div>
                        <div ng-bind-html="entry.excerpt | rawHtml" class="article-summary"></div>
                    </md-card-content>
                </md-card>

            </div>

            <!--<div flex-gt-xl="25" flex-gt-lg="33" flex-gt-sm="50" flex="100" class="article-column">-->
                <!--<md-card ng-repeat="entry in content[0]" class="entry-listing-card" >-->
                    <!--<a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">-->
                        <!--<img ng-if="entry.featured_image" ng-src="{{entry.featured_image.source}}" class="md-card-image" alt="image caption">-->
                    <!--</a>-->
                    <!--<md-card-content>-->
                        <!--<a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">-->
                            <!--<h3 class="md-display-1" ng-animate-ref="article-title-{{entry.ID}}">{{entry.title}}</h3>-->
                        <!--</a>-->
                        <!--<div class="article-date">{{entry.date | date : 'longDate'}}</div>-->
                        <!--<div ng-bind-html="entry.excerpt | rawHtml" class="article-summary"></div>-->
                    <!--</md-card-content>-->
                <!--</md-card>-->
            <!--</div>-->

            <!--<div ng-if="$mdMedia('gt-sm')" flex-gt-xl="25" flex-gt-lg="33" flex-gt-sm="50" flex="0" class="article-column">-->
                <!--<md-card ng-repeat="entry in content[1]" class="entry-listing-card">-->
                    <!--<a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">-->
                        <!--<img ng-if="entry.featured_image" ng-src="{{entry.featured_image.source}}" class="md-card-image" alt="image caption">-->
                    <!--</a>-->
                    <!--<md-card-content>-->
                        <!--<a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">-->
                            <!--<h3 class="md-display-1" ng-animate-ref="article-title-{{entry.ID}}">{{entry.title}}</h3>-->
                        <!--</a>-->
                        <!--<div class="article-date">{{entry.date | date : 'longDate'}}</div>-->
                        <!--<div ng-bind-html="entry.excerpt | rawHtml" class="article-summary"></div>-->
                    <!--</md-card-content>-->
                <!--</md-card>-->
            <!--</div>-->

            <!--<div ng-if="$mdMedia('gt-lg')" flex-gt-xl="25" flex-gt-lg="33" flex="0" class="article-column">-->
                <!--<md-card ng-repeat="entry in content[2]" class="entry-listing-card">-->
                    <!--<a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">-->
                        <!--<img ng-if="entry.featured_image" ng-src="{{entry.featured_image.source}}" class="md-card-image" alt="image caption">-->
                    <!--</a>-->
                    <!--<md-card-content>-->
                        <!--<a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">-->
                            <!--<h3 class="md-display-1" ng-animate-ref="article-title-{{entry.ID}}">{{entry.title}}</h3>-->
                        <!--</a>-->
                        <!--<div class="article-date">{{entry.date | date : 'longDate'}}</div>-->
                        <!--<div ng-bind-html="entry.excerpt | rawHtml" class="article-summary"></div>-->
                    <!--</md-card-content>-->
                <!--</md-card>-->
            <!--</div>-->

            <!--<div ng-if="$mdMedia('gt-xl')" flex-gt-xl="25" class="article-column">-->
                <!--<md-card ng-repeat="entry in content[3]" class="entry-listing-card">-->
                    <!--<a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">-->
                        <!--<img ng-if="entry.featured_image" ng-src="{{entry.featured_image.source}}" class="md-card-image" alt="image caption">-->
                    <!--</a>-->
                    <!--<md-card-content>-->
                        <!--<a href="/#/article/{{entry.ID}}/{{entry.title | titleUrl}}" class="non-decorated-link">-->
                            <!--<h3 class="md-display-1" ng-animate-ref="article-title-{{entry.ID}}">{{entry.title}}</h3>-->
                        <!--</a>-->
                        <!--<div class="article-date">{{entry.date | date : 'longDate'}}</div>-->
                        <!--<div ng-bind-html="entry.excerpt | rawHtml" class="article-summary"></div>-->
                    <!--</md-card-content>-->
                <!--</md-card>-->
            <!--</div>-->
        </div>
    </md-content>
</section>